In [ ]:
# Import dependencies
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import load_model
import warnings
warnings.filterwarnings("ignore")

In [3]:
# Read in CSV file - convert to DataFrame
full_flight_data = pd.read_csv("../data/full_data_flightdelay.csv")
full_flight_data.head()

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,8,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
1,1,7,0,0700-0759,7,1,29,191,Delta Air Lines Inc.,13056,...,3,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
2,1,7,0,0600-0659,7,1,27,199,Delta Air Lines Inc.,13056,...,18,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
3,1,7,0,0600-0659,9,1,27,180,Delta Air Lines Inc.,13056,...,2,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
4,1,7,0,0001-0559,7,1,10,182,Spirit Air Lines,13056,...,1,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91

In [7]:
# Inspect the data in our DataFrame
print(full_flight_data.info())
print(full_flight_data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6489062 entries, 0 to 6489061
Data columns (total 26 columns):
 #   Column                         Dtype
---  ------                         -----
 0   MONTH                          int64
 1   DAY_OF_WEEK                    int64
 2   DEP_DEL15                      int64
 3   DEP_TIME_BLK                   object
 4   DISTANCE_GROUP                 int64
 5   SEGMENT_NUMBER                 int64
 6   CONCURRENT_FLIGHTS             int64
 7   NUMBER_OF_SEATS                int64
 8   CARRIER_NAME                   object
 9   AIRPORT_FLIGHTS_MONTH          int64
 10  AIRLINE_FLIGHTS_MONTH          int64
 11  AIRLINE_AIRPORT_FLIGHTS_MONTH  int64
 12  AVG_MONTHLY_PASS_AIRPORT       int64
 13  AVG_MONTHLY_PASS_AIRLINE       int64
 14  FLT_ATTENDANTS_PER_PASS        float64
 15  GROUND_SERV_PER_PASS           float64
 16  PLANE_AGE                      int64
 17  DEPARTING_AIRPORT              object
 18  LATITUDE                       float64
 19  LONGITUDE                      float64
 20  PREVIOUS_AIRPORT               object
 21  PRCP                           float64
 22  SNOW                           float64
 23  SNWD                           float64
 24  TMAX                           float64
 25  AWND                           float64
dtypes: float64(9), int64(13), object(4)
memory usage: 1.3+ GB
None
              MONTH   DAY_OF_WEEK     DEP_DEL15  DISTANCE_GROUP  \
count  6.489062e+06  6.489062e+06  6.489062e+06    6.489062e+06
mean   6.607062e+00  3.935598e+00  1.891441e-01    3.821102e+00
std    3.396853e+00  1.995200e+00  3.916231e-01    2.382233e+00
min    1.000000e+00  1.000000e+00  0.000000e+00    1.000000e+00
25%    4.000000e+00  2.000000e+00  0.000000e+00    2.000000e+00
50%    7.000000e+00  4.000000e+00  0.000000e+00    3.000000e+00
75%    1.000000e+01  6.000000e+00  0.000000e+00    5.000000e+00
max    1.200000e+01  7.000000e+00  1.000000e+00    1.100000e+01

       SEGMENT_NUMBER  CONCURRENT_FLIGHTS  NUMBER_OF_SEATS  \
count    6.489062e+06        6.489062e+06     6.489062e+06
mean     3.046890e+00        2.783675e+01     1.337397e+02
std      1.757864e+00        2.151060e+01     4.645213e+01
min      1.000000e+00        1.000000e+00     4.400000e+01
25%      2.000000e+00        1.100000e+01     9.000000e+01
50%      3.000000e+00        2.300000e+01     1.430000e+02
75%      4.000000e+00        3.900000e+01     1.720000e+02
max      1.500000e+01        1.090000e+02     3.370000e+02

       AIRPORT_FLIGHTS_MONTH  AIRLINE_FLIGHTS_MONTH  \
count           6.489062e+06           6.489062e+06
mean            1.268458e+04           6.296058e+04
std             8.839796e+03           3.438223e+04
min             1.100000e+03           5.582000e+03
25%             5.345000e+03           2.503400e+04
50%             1.156200e+04           7.087800e+04
75%             1.761500e+04           8.631200e+04
max             3.525600e+04           1.177280e+05

       AIRLINE_AIRPORT_FLIGHTS_MONTH  ...  FLT_ATTENDANTS_PER_PASS  \
count                   6.489062e+06  ...             6.489062e+06
mean                    3.459251e+03  ...             9.753707e-05
std                     4.251139e+03  ...             8.644459e-05
min                     1.000000e+00  ...             0.000000e+00
25%                     6.540000e+02  ...             3.419267e-05
50%                     2.251000e+03  ...             6.178236e-05
75%                     4.806000e+03  ...             1.441659e-04
max                     2.183700e+04  ...             3.484077e-04

       GROUND_SERV_PER_PASS     PLANE_AGE      LATITUDE     LONGITUDE  \
count          6.489062e+06  6.489062e+06  6.489062e+06  6.489062e+06
mean           1.355612e-04  1.153211e+01  3.670581e+01 -9.425515e+01
std            4.649970e-05  6.935706e+00  5.500804e+00  1.790952e+01
min            7.134695e-06  0.000000e+00  1.844000e+01 -1.593460e+02
25%            9.889412e-05  5.000000e+00  3.343600e+01 -1.063770e+02
50%            1.246511e-04  1.200000e+01  3.750500e+01 -8.790600e+01
75%            1.772872e-04  1.700000e+01  4.077900e+01 -8.093600e+01
max            2.289855e-04  3.200000e+01  6.116900e+01 -6.600200e+01

               PRCP          SNOW          SNWD          TMAX          AWND
count  6.489062e+06  6.489062e+06  6.489062e+06  6.489062e+06  6.489062e+06
mean   1.037063e-01  3.159310e-02  9.152397e-02  7.146846e+01  8.341329e+00
std    3.432134e-01  3.170163e-01  7.281285e-01  1.835333e+01  3.607604e+00
min    0.000000e+00  0.000000e+00  0.000000e+00 -1.000000e+01  0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  5.900000e+01  5.820000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00  7.400000e+01  7.830000e+00
75%    2.000000e-02  0.000000e+00  0.000000e+00  8.600000e+01  1.029000e+01
max    1.163000e+01  1.720000e+01  2.520000e+01  1.150000e+02  3.378000e+01

[8 rows x 22 columns]

### Important Columns
**`DEP_DEL15`:** returns binary response of `0` for NO flight delay (under 15 min) or `1` for a flight delay +15 min

**`DEP_TIME_BLK`:** distance to be flown by the departing aircraft (time block interval)

**`DISTANCE_GROUP`:** distance to be flown by the departing aircraft

**`SEGMENT_NUMBER`:** segment that tail number is on for the day

**`CONCURRENT_FLIGHTS`:** number of flights departing airport within same departure time block (tarmac traffic may cause delays)

**`CARRIER_NAME`:** airline/carrier for departing flight

**`PLANE_AGE`:** age of departing aircraft

**`DEPARTING_AIRPORT`:** departing airport for flight

**`PRCP`:** inches of precipitation for the day

**`SNOW`:** inches of snowfall for the day

**`SNWD`:** inches of snow on ground for the day

**`TMAX`:** max temperature for the day

**`AWND`:** max wind speed for the day

In [9]:
# Drop unnecessary columns for final DataFrame
flight_delay_df = full_flight_data.drop(columns=['NUMBER_OF_SEATS'])
flight_delay_df.head()

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,AIRLINE_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,Southwest Airlines Co.,13056,107363,...,8,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
1,1,7,0,0700-0759,7,1,29,Delta Air Lines Inc.,13056,73508,...,3,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
2,1,7,0,0600-0659,7,1,27,Delta Air Lines Inc.,13056,73508,...,18,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
3,1,7,0,0600-0659,9,1,27,Delta Air Lines Inc.,13056,73508,...,2,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
4,1,7,0,0001-0559,7,1,10,Spirit Air Lines,13056,15023,...,1,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91

## Feature Engineering

In [10]:
# Create feature for weekends and holiday months (peak travel times)
flight_delay_df['IS_WEEKEND'] = flight_delay_df['DAY_OF_WEEK'].isin([6, 7]).astype(int)
flight_delay_df['IS_HOLIDAY'] = flight_delay_df['MONTH'].isin([7, 12]).astype(int)